In [ ]:
!unzip "transactions_train.csv.zip"

Archive:  transactions_train.csv.zip
  inflating: transactions_train.csv

In [ ]:
!unzip "customers.csv.zip"

Archive:  customers.csv.zip
  inflating: customers.csv

In [ ]:
import pandas as pd

In [ ]:
#Load the transactions data
transactions_df=pd.read_csv("transactions_train.csv")

In [ ]:
# Load the customers and articles data
customers_df=pd.read_csv("customers.csv")
articles_df=pd.read_csv("articles.csv")

In [ ]:
#Group by the data with the customer id column to get the transactions of each customer
temp = transactions_df.drop(['price','sales_channel_id','t_dat'],axis=1).groupby("customer_id")

In [ ]:
# Get the customer ids of the customers who bought atleast 70 products
filtered_customer_ids = temp.count()[temp.count()['article_id']>70].index

In [ ]:
# Filter the transactions by the customer ids who bought atleast 70 items
transactions_df = transactions_df[transactions_df['customer_id'].isin(filtered_customer_ids)]

In [ ]:
transactions_df

,t_dat,customer_id,article_id,price,sales_channel_id
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
5,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687001,0.016932,2
6,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221001,0.020322,2
...,...,...,...,...,...
31788317,2020-09-22,ffd4cf2217de4a0a3f9f610cdec334c803692a18af08ac...,902288001,0.022017,2
31788318,2020-09-22,ffd4cf2217de4a0a3f9f610cdec334c803692a18af08ac...,856440002,0.042356,2
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1

In [ ]:
# Filter the customers data with the ids who bought atleast 70 items
customers_df = customers_df[customers_df['customer_id'].isin(filtered_customer_ids)]

In [ ]:
# Filter the articles by the customer ids who bought atleast 70 items
articles_df = articles_df[articles_df['article_id'].isin(transactions_df.article_id.unique())]

In [ ]:
# Convert the t_dat column of the transaction to datetime format
transactions_df["t_dat"]=pd.to_datetime(transactions_df['t_dat'], infer_datetime_format=True)

In [ ]:
# Split the transactions data into train and test data by taking entire duration except last week as training data and the last week as test data
transactions_train=transactions_df[(transactions_df['t_dat'] <= '2020-09-15')]

In [ ]:
transactions_train

,t_dat,customer_id,article_id,price,sales_channel_id
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
5,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687001,0.016932,2
6,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221001,0.020322,2
...,...,...,...,...,...
31548005,2020-09-15,ffe1791c9c6e3df9aafeebc77cf2cf03dd0123ac76ef90...,750422018,0.033441,2
31548009,2020-09-15,ffef8aec5cf011fa1393b40337a5993ce0b7b81af6b322...,853316001,0.008458,1
31548010,2020-09-15,ffef8aec5cf011fa1393b40337a5993ce0b7b81af6b322...,296366006,0.000847,1
31548011,2020-09-15,ffef8aec5cf011fa1393b40337a5993ce0b7b81af6b322...,789769001,0.013542,1
31548012,2020-09-15,fff5bd112051feb2367276df143f79bc69126814c73e21...,728156001,0.043203,1

In [ ]:
transactions_test=transactions_df[(transactions_df['t_dat'] > '2020-09-15')]
transactions_test = transactions_test[transactions_test['customer_id'].isin(transactions_train["customer_id"])]

In [ ]:
transactions_test

,t_dat,customer_id,article_id,price,sales_channel_id
31548013,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,786022008,0.048441,2
31548014,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,913272003,0.032288,2
31548015,2020-09-16,000fb6e772c5d0023892065e659963da90b1866035558e...,889669006,0.056508,2
31548016,2020-09-16,0010e8eb18f131e724d6997909af0808adbba057529edb...,237347060,0.033881,1
31548017,2020-09-16,0010e8eb18f131e724d6997909af0808adbba057529edb...,562245001,0.013542,1
...,...,...,...,...,...
31788317,2020-09-22,ffd4cf2217de4a0a3f9f610cdec334c803692a18af08ac...,902288001,0.022017,2
31788318,2020-09-22,ffd4cf2217de4a0a3f9f610cdec334c803692a18af08ac...,856440002,0.042356,2
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1

In [ ]:
# To get only the customer id and the products they bought in the transactions test data
test=transactions_test.groupby("customer_id")
groups_test = dict(list(test))
test_data=pd.DataFrame(columns=["customer_id","products"])
for i in groups_test.keys():
  test_data=test_data.append({"customer_id":i,"products":groups_test[i]["article_id"].values},ignore_index=True)

In [ ]:
test_data

,customer_id,products
0,00077dbd5c4a4991e092e63893ccf29294a9d5c46e8501...,"[903762001, 879189005, 158340001, 867966009, 9..."
1,000fb6e772c5d0023892065e659963da90b1866035558e...,"[786022008, 913272003, 889669006, 913272003, 8..."
2,0010e8eb18f131e724d6997909af0808adbba057529edb...,"[237347060, 562245001, 610776105, 456163060, 9..."
3,001143bec624de9df82bd687babb382e00b0285e2371cc...,"[759814034, 759814034, 837443001, 890631002, 9..."
4,001c1f8d70782f450524d3b3f404474dbd4a7d0d2ad78a...,[898886002]
...,...,...
20276,fff2282977442e327b45d8c89afde25617d00124d0f999...,"[759054001, 697564010, 891322004, 891322004, 9..."
20277,fff3573d9131d15da6a46c1ca8f03b5d37e4f6b804171e...,"[783517006, 813298001, 873279001, 914805006, 9..."
20278,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,[833459002]
20279,fff7e7674509592818bf453391af43a85eaaac9a52d858...,[624486049]
20280,fffae8eb3a282d8c43c77dd2ca0621703b71e90904dfde...,"[396135007, 817472007, 715624050, 817472003, 8..."

In [ ]:
# Save all the subset data into the csv files 
customers_df.to_csv("customers_subset.csv",index=False)
articles_df.to_csv("articles_subset.csv",index=False)
test_data.to_csv("transactions_test_subset.csv",index=False)
transactions_train.to_csv("transactions_train_subset.csv",index=False)

In [ ]:
!zip -r "transactions_train_subset.csv.zip" "transactions_train_subset.csv"

  adding: transactions_train_subset.csv (deflated 84%)

In [ ]:
from google.colab import files
files.download('transactions_train_subset.csv.zip')

In [ ]:
files.download('articles_subset.csv')